$phone: 640px;
$tablet: 768px;
$desktop: 1024px;
$custom-blue: #0C0094;

.home-nav {
  display: flex;
  height: 100vh;

  a {
    width: calc(100% / 4);
  }
}

.es1-container {
  background-image: url('./assets/esercizio1-image.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;

  .es1-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      @media screen and (min-width: $tablet) {
        font-size: 48px;
      }
    }

    p {
      @media (min-width:$desktop) {
        width: 60%;
      }

      @media (max-width:600px) {
        font-size: 14px;
      }

      padding: 20px 0;
      line-height: 1.5;
    }
  }

  .es1-btn-wrapper {
    width: fit-content;
    margin-top: 20px;

    .es1-btn {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      padding: 20px 30px;
      background-color: $custom-blue;
      transition: all .5s ease-in-out;

      span {
        vertical-align: middle;
        margin-left: 10px;
      }

      &:hover {
        color: $custom-blue;
        background-color: white;
        transition: all .5s ease-in-out;
      }
    }
  }
}

.es2-container {
  padding: 0 calc(15%);
  background-color: #f3f4f9;
  padding-top: 100px;

  nav {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;

    img {
      height: 100%;
    }
  }

  .title-hr {
    height: 5px;
    background-color: $custom-blue;
    border: none;
    width: 20%;
    margin: 10px 0;

    @media (min-widt: $tablet) {
      width: 6%;
    }
  }

  .es2-content-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .es2-item {
      width: 100%;
      margin-bottom: 80px;

      @media (min-width: $tablet) {
        width: calc(30%);
      }

      .item-title {
        text-transform: uppercase;
        color: $custom-blue;
        font-size: 10px;
      }

      .item-description {
        margin-bottom: 20px;
        font-size: 16px;
      }

      hr {
        border: none;
        height: 1px;
        background-color: lightgray;
        margin: 10px 0;
      }

      a {
        text-decoration: none;
        color: black;
        text-transform: capitalize;

        span {
          color: $custom-blue;
          vertical-align: middle;
          margin-left: 10px;
          transition: all .5s ease-in;
        }

        &:hover {
          span {
            margin-left: 20px;
            transition: all .5s ease-out;
          }
        }
      }
    }
  }
}

.es3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-color: #f3f4f9;

  @media (max-width: $phone) {
    padding: 100px 20px;
  }

  .accordion {
    width: 1000px;

    .es3-item {
      margin-bottom: 15px;
      background-color: #ffff;

      .item-wrapper {
        padding: 20px 20px;
        position: relative;
        box-shadow: 0px 0px 6px 1px #dfdfdf;

        .item-title {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            color: $custom-blue;
            font-size: 22px;
          }
        }

        hr.larger-hr {
          position: absolute;
          bottom: 0;
          width: 960px;
          border: 2px solid $custom-blue;

          @media (max-width: $tablet) {
            width: calc(88%);
          }
        }

        .item-description {
          max-height: 0;
          overflow: hidden;
          transition: max-height .5s cubic-bezier(0, 1, 0, 1);

          hr.little-hr {
            margin-top: 10px;
            margin-bottom: 15px;
            width: 6%;
            border: 2px solid $custom-blue;

            @media (max-width: $phone) {
              width: 15%;
            }
          }

          p {
            margin-bottom: 40px;
            margin-top: 20px;

            @media (max-width: $phone) {
              font-size: 16px;
            }
          }

          &.show {
            height: auto;
            transition: max-height .5s cubic-bezier(1, 0, 1, 0);
            max-height: 9999px;
          }
        }
      }
    }
  }
}

.es4-container {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  button {
    background-color: #FED615;
    padding: 10px 20px;
    border: none;
    font-weight: 700;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      padding: 10px 40px;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}

.es4-item {
  width: calc(25%);
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;

  @media (max-width: $desktop) {
    width: 90%;
    margin: 0 auto;
  }

  .img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }

    &:after {
      content: '\A';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      opacity: 1;
      transition: all 1s;
      -webkit-transition: all 1s;

    }

  }

  .content {
    position: absolute;
    bottom: 0;
    padding: 0 15px;
    padding-bottom: 20px;

    .date {
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
      background-color: #515366;
      width: 35%;
      font-style: oblique;
      font-size: 14px;
      padding: 5px 0;
      margin-bottom: 10px;

      @media (max-width: $tablet) {
        width: 50%;
      }
    }

    .title {
      h1 {
        font-size: 24px;
        margin-bottom: 15px;

        @media (max-width: $tablet) {
          font-size: 16px;
        }
      }
    }

    .description {
      font-size: 14px;
      line-height: 1.8;
      max-height: 0;
      visibility: hidden;
      opacity: 0;
      transition: all .5s;

      @media (max-width: $tablet) {
        font-size: 12px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .link {

      a {
        visibility: hidden;
        max-height: 0;
        opacity: 0;
        transition: all .5s;
        color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
          text-transform: uppercase;
          margin-right: 10px;
          font-weight: 700;
          font-size: 14px;
        }

        font-size: 12px;

      }
    }

  }

  &:hover {
    .description {
      visibility: visible;
      opacity: 1;
      max-height: 999px;
      transition: all .8s;
    }

    .link {
      a {
        visibility: visible;
        opacity: 1;
        max-height: 999px;
        transition: all .8s;
      }
    }
  }
}